MONGODB_URI='mongodb://127.0.0.1:27017/?directConnection=true&serverSelectionTimeoutMS=2000&appName=mongosh+2.5.6'
MONGODB_DB='novamart'

JWT_SECRET="jdfoijsdfos"

PORT=5001
API_URL='http://localhost:5001'

AWS_REGION='us-east-1'
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_S3_BUCKET='novamart-ecom-expres-api'
AWS_MAX_UPLOAD_SIZE=5